<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" charset="8-utf" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>projecTYR</title>
</head>
<body ng-app="projectyr">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-static-top" style="margin:0" ng-controller="IndexController">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#/" class="navbar-brand">ProjecTyr</a></li>
            <li class="dropdown">
              <a ng-if="authed" data-toggle="dropdown" class="dropdown-toggle">Track Time <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="project in projects | orderBy:'-'"><a href="#/current" ng-click="setProject(project)">{{project.project_name}}</a></li>
              </ul>
            </li>
            <li><a ng-if="authed" href="#/create">Create Project</a></li>
            <li class="dropdown">
              <a ng-if="authed" data-toggle="dropdown" class="dropdown-toggle">Project Stats <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/open">open projects</a></li>
                <li><a href="#/closed">archived projects</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-if="!authed" href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a ng-if="!authed" href="#/signin"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
          <li><a ng-if="authed" href="#/signout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div ui-view>
    
  </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
  <script type="text/javascript" src="bower_components/momentjs/min/locales.min.js"></script>
  <script type="text/javascript" src="bower_components/humanize-duration/humanize-duration.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
  <script type="text/javascript" src="bower_components/Chart.js/Chart.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
  <script type="text/javascript" src="app/auth/auth.js"></script>
  <script type="text/javascript" src="app/create/create.js"></script>
  <script type="text/javascript" src="app/current/current.js"></script>
  <script type="text/javascript" src="app/current/dashboardD.js"></script>
  <script type="text/javascript" src="app/open/open.js"></script>
  <script type="text/javascript" src="app/closed/closed.js"></script>
  <script type="text/javascript" src="app/service/serviceAuth.js"></script>
  <script type="text/javascript" src="app/service/serviceProject.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>

</html>
