@import url(http://fonts.googleapis.com/css?family=Roboto:400);

@font-face {
  font-family: "Norse";
  src: url('../fonts/joel-carrouche_norse/Norse.otf');
}

@font-face {
  font-family: "Digital";
  src: url('../fonts/digital-7/digital-7.ttf');
}

/********** Sitewide Styles **********/
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

h1, h2{
  font:Tahoma;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-weight: bold;
  /*color: steelblue;*/
}

#myModal div select {
  margin-bottom: 20px;
  background-color: lightgrey;
}

blockquote {
    border: none;
}

/********** Home **********/
.img img{
   float: right;
   width: 400px;
   margin-bottom: 5%;
}
.about-tyr-poem h1{
  font-size: 10em;
}
.main {
  margin-top: 2%;
}
.about-tyr-poem {
  padding-top: 5%;
  text-align: center;
  font-family: Norse;
  font-weight: bold;
}

.about-tyr-poem .big {
  font-size: 4.5em;
}

.about-tyr-poem .small {
  font-size: 2.5em;
}

#copyright {
  text-align: center;
}

/********** Current **********/

main {
  margin-top: 4%;
}
.manage-controls {
  margin-top: 10%;
}
.timer-meta {
  text-align: center;
  margin-bottom: 1%;
}
.timer-meta .meta-block {
  margin-bottom: 4%;
}

.timer-meta h2{
  color: #449d44;
  font-size: 1.50em;
  /*border-bottom: 1px solid #99CCFF;*/
  margin: 0 auto 1% auto;
  width: 60%;
}
.timer-meta .half {
  display: inline-block;
  width: 45%;
}
.timer {
  text-align: center;
}
.timer h1, .project-time-options h1, .analytics h1 {
  font-size: 1.75em;
  color: #9d9d9d;
  margin-bottom: 5%;
}
.timer .clock {
  font-size: 2em;
  font-family: Digital;
  background-color: black;
  color: red;
  width: 50%;
  padding: 5%;
  margin: 0 auto 2% auto;
}
.timer .btn {
  display: block;
  width: 50%;
  padding: 2% 5%;
  margin: 1% auto;
}
.timer-display {
  width: 100%;
  margin-top: 10%;
}
 .project-time-options .btn {
  width: 40%;
  display: block;
  margin: 5% auto 5% auto;
 }
.project-time-options .content, .timer .content {
  margin-top: 15%;
}
/********** Login **********/
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.form-login input,
.form-login .wrapper a {
    font-size: 16px;  
}
.form-login .wrapper span button {
    font-weight: bold;
}
h3 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:20px;
 text-align: center;
 font-weight: bold;
}
.form-control {
    border-radius: 16px;
}
.wrapper {
    text-align: center;
}
.social-box{
  margin: 0 auto;
  padding: 20px;
}
.social-box a{
  font-weight:bold;
  font-size:16px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:16px;
}

.loginOr{
    font-size: 16px;
    color: #aaa;
    margin-bottom: 15px;
    text-align: center;
}

.alert-danger {
    font-weight: bold;
}

p.help-block {
    color: red;
}

div.signform {
    padding-top: 40px;
    position: fixed;
    left: 180;
    right: 200;
    text-align: center;
}

div.createForm {
  text-align: center;
  width: 500px;
  border: 1px solid grey;
  background-color: lightgray;
  border-radius: 28px;
}

div.create form {
  text-align:left;
  padding-left: 150px;
}

div.options select{
  width: 150px;
  height: 30px;
  margin: 5px;
}

div.createForm form input {
  width: 200px;
}

div form button {
  text-align:center;
  width: 160px;
  padding-right: 0;
  font-weight: bold;
}

/*NAVBAR DROP DOWN */

.navbar-inverse .dropdown-menu {
  color: #fff;
}


.dataBox {
  border: 1px solid grey;
  margin: 5px;
}

.dataBox hr {
  padding: 0px;
  margin: 10px;
}

.dataBox p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.dataBox h6 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
}

.graph {
  border: none;
}

.closeButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
  background-color:#fc8d83;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.closeButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
  background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
  background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
  background-color:#e4685d;
}
.closeButton:active {
  position:relative;
  top:1px;
}
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color:#89c403;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #74b807;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
  background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
  background-color:#77a809;
}
.myButton:active {
  position:relative;
  top:1px;
}
