<div class="container" data-ng-init="init()" ng-controller="ClosedController">
  <div></div>
  <h4>PROJECT STATS</h4>

  <ul class="nav nav-tabs">
    <li>
      <a href="#/open">Open Projects</a>
    </li>

    <li class="active">
      <a href="#/closed">Closed Projects</a>
    </li>
  </ul>

  <h2>Closed Projects</h2>
  <hr>
  <!-- Table of Projects (left) -->

  <div class="row" ng-if="hasProjects">
    <div class="col-md-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date Completed</th>

            <th>Project Title</th>

            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="project in projects">
            <td>{{ project.creation_time.split(",")[0] }}</td>

            <td><a ng-click="setSelectedProject(project)">{{ project.project_name }}</a></td>
            <td>
               <button class="btn myButton" data-toggle="modal" data-target="#submitCheck" ng-click="reopenProject(project)">reopen</button>
            </td>
          </tr>
        </tbody>
      </table>
<!-- Modal to confirm reopening project -->

          <div id="submitCheck" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reopen Project</h4>
          </div>
          
          <div class="modal-body">
            Are you sure you would like to reopen this project?
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="openProject(toOpen)">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
          </div>
        </div>
    </div>

    </div>

    <!-- Dashboard Visuals (right) -->

    <div class="col-md-7">
      <!-- <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> -->


      <div class="row">
        <div class="col-sm-12 dataBox graph lineGraph">
          <p><strong>Overall Time Estimates vs. Actual</strong></p>
          <hr>
          <canvas chart-data="lineData" chart-options=
          "lineOptions" style="width: 100%; height: 100%;" tc-chartjs-line=
          ""></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 dataBox graph lineGraph">
          <p><strong>Overall Time Estimates vs. Actual</strong></p>
          <hr>
          <canvas chart-data="lineData" chart-options=
          "lineOptions" style="width: 100%; height: 100%;" tc-chartjs-line=
          ""></canvas>
        </div>
      </div>
      
      <h2>{{ project.project_name }} Stats</h2>

      <div class="row">
        <!-- Time Estimation Bar Graph -->
        <div class="col-sm-6 dataBox bar graph panel panel-warning">
          <div class="panel-heading text-center"><strong>ESTIMATED TIME</strong> vs <strong>ACTUAL
          TIME</strong></div>
          <div class="panel-body text-center"><canvas auto-legend="" chart-data="barData" chart-options=
          "barOptions" class="bar" tc-chartjs-bar=""></canvas>
        </div>
      </div>




        <!-- Donut Graph of Skills -->

        <div class="col-md-5 dataBox graph panel panel-warning">
          <div class="panel-heading text-center"><strong>SKILLS BREAKDOWN</strong></div>
          <hr>
          <div class="panel-body text-center"><canvas auto-legend="" chart-data="donutData" chart-options="options"
          class="donut" tc-chartjs-doughnut=""></canvas></div>
        </div>
      </div>
      <hr>

      
<!-- Data Boxes with Estimated, Actual, and the Difference -->

<div class="row">

  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading text-center">ESTIMATED TIME</div>
      <div class="panel-body text-center"><h4>{{ project.est_time | number:0 }}<small> HOURS</small></h4></div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading text-center">ACTUAL TIME</div>
      <div class="panel-body text-center"><h4>{{ project.act_time | number:0 }}<small> HOURS</small></h4></div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading text-center">DIFFERENCE</div>
      <div class="panel-body text-center"><h4>{{ project.est_time - project.act_time | number:0 }}<small> HOURS</small></h4></div>
    </div>
  </div>
        <!-- start of skills with hours -->

  <hr>
  <div class="container-fluid">
    <div class="row">
            <div class="col-sm-3" ng-repeat="skill in project.skills">
              <div class="well"> 
                <h5 class="text-center">{{skill}}</h5>
                <hr>
                <h1 class="text-center">{{ project[skill] | number:0 }}</h1>
                <h6 class="text-center">HOURS</h6>
              </div>
            </div>
       </div>  
  </div>
  <hr>
</div>  




  <div id='fallbackMessage' ng-if="!hasProjects">
    <h2>Oh no!</h2>
    <p>It looks like you haven't closed any projects yet.</p>
  </div>
</div>