 <!-- nav bar -->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/current">ProjectTyr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#/create">Create a project</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">   
        <li><a href="#/signout"><span class="glyphicon glyphicon-log-out"> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
<main class="container row">
  <div class="row">
    <div class="col-md-12">
      <h1 class="selectCurrent">
        <form class="forms">
          <div class="form-group">
            <select ng-model="currentProject" ng-options="project.project_name for project in projects">
                <option value="">Select a Project</option>
            </select>
          </div>
        </form>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <section ng-show="currentProject" class="clock">
        <div>
          Elapsed Time: {{ getElapsedMs()}} ms
        </div>
        <button id="start" class="btn btn-success" ng-click="start()">Start Clock</button>
        <button ng-if="!running" id="assign" class="btn btn-success" ng-click="addTime()">Manually Add Time</button>
        <button ng-if="running" id="stop" class="btn btn-warning" ng-click="pause()">Pause Clock</button>
        <button ng-if="running" id="stop" class="btn btn-danger" ng-click="stop()">Stop</button>
      </section>
    </div>
    <div class="col-md-6">
      <div ng-show="currentProject">
        <div>
          Project Name: {{ currentProject.project_name }}
        </div>
        <div>
          Time Estimate: {{ currentProject.est_time }}
        </div>
        <div>
          Current Time: {{ currentProject.act_time }}
        </div>
      </div>
    </div>
  </div>
</main>


