<main>
  <div class="row">
    <div ng-show="currentProject" class="col-md-6 container">
      <div class="timer-meta">
        <div class="full">
          <h1>Project Name</h1>
          <div>{{ currentProject.project_name }}</div>
        </div>
        <div class="full bottom">
          <div class="half">
            <h2>Time Estimate</h2>
            <div>{{ currentProject.est_time }} hours</div>
          </div>
          <div class="half">
            <h2>Time Spent</h2>
            <div>{{ currentProject.act_time }} hours</div>
          </div>
        </div>
      </div>
      <div class="timer">
        <div class="timer-display">
          <h1>Time Your Work Session</h1>
          <timer autostart="false" interval="1000">
              <div class="clock" ng-model="sessionElapsed">{{hhours}}:{{mminutes}}:{{sseconds}}</div>
          </timer>
        </div>
        <div class="timer-controls">
          <button id="start" class="btn btn-success" ng-click="start()"><i class="fa fa-play"></i></button>
          <button id="pause" class="btn btn-warning" ng-click="pause()"><i class="fa fa-pause"></i></button>
          <button id="reset" class="btn btn-danger" ng-click="reset()"><i class="fa fa-stop"></i></button>
        </div>
      </div>
      <div class="project-time-options">
        <button id="assign" class="btn btn-primary" data-toggle="modal" data-target="#manualTime">Add Time to Project</button>
        <button id="stop" class="btn btn-primary" data-toggle="modal" data-target="#assignTime" ng-click="stop()" ng-if="getElapsedMs()">Add Session to Project</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#submitCheck">Close Project</button>
        <div>
          Elapsed ms Before this Session: {{ currentProject.act_time * 60 * 60 * 1000 }}
        </div>
        <div>
          Elapsed ms During this Session: {{ getElapsedMs()}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
       <div class="col-sm-6 dataBox bar graph">
          <p><strong>ESTIMATED TIME</strong> vs <strong>ACTUAL
          TIME</strong></p>
          <hr>
          <canvas auto-legend="" chart-data="barData" chart-options=
          "barOptions" class="bar" tc-chartjs-bar=""></canvas>
        </div><!-- Donut Graph of Skills -->

        <div class="col-md-5 dataBox graph">
          <p><strong>SKILLS BREAKDOWN</strong></p>
          <hr>
          <canvas auto-legend="" chart-data="donutData" chart-options="options"
          class="donut" tc-chartjs-doughnut=""></canvas>
        </div>
    </div>
  </div>
</main>

<!-- Modal: pop up window for adding time manually -->
<div id="manualTime" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Time</h4>
      </div>
      <div class="modal-body">
        <p>How much time would you like to assign to a project (enter in a fraction of hours (2.00, 0.50, 1.25 etc))?</p>
        <input name="time" type="text" class="form-control" ng-model="timeToAdd" required/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTime()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: pop up window for assigning time to projects and skills -->
<div id="assignTime" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign your time <mark>{{timeToAdd + " hrs"}}</mark></h4>
      </div>
      <div class="modal-body">

        <!-- time assigning table content -->
        <table class="table table-striped">
          <!-- time assigning table header -->
          <thead>
            <tr>
              <th>Project</th>
              <th>Time</th>
              <th>{{currentProject.skill1}}</th>
              <th>{{currentProject.skill2}}</th>
              <th>{{currentProject.skill3}}</th>
              <th>{{currentProject.skill4}}</th>
              <th>{{currentProject.skill5}}</th>
            </tr>
          </thead>
          <!-- time assigning project and its skills -->
          <tbody>
            <tr>
              <td>{{currentProject.project_name}}</td>
              <td>{{timeToAdd  + " hrs"}}</td>
              <td ng-if="!!currentProject.skill1">
                <input type="range" max="100" min="0" ng-model="currentProject.percent1">
                <div>
                  {{ currentProject.time1 = (timeToAdd * (currentProject.percent1 ? currentProject.percent1 : 0) / 100).toFixed(2); 
                  currentProject.time1 + " hrs"}}
                </div>
              </td>
              <td ng-if="!!currentProject.skill2">
                <input type="range" max="100" min="0" ng-model="currentProject.percent2">
                <div>
                  {{ currentProject.time2 = ((timeToAdd - currentProject.time1) * (currentProject.percent2 ? currentProject.percent2 : 0) / 100).toFixed(2); 
                  currentProject.time2+ " hrs"}}
                </div>
              </td>  
              <td ng-if="!!currentProject.skill3">
                <input type="range" max="100" min="0" ng-model="currentProject.percent3">
                <div>
                  {{ currentProject.time3 = ((timeToAdd - currentProject.time2 - currentProject.time1) * (currentProject.percent3 ? currentProject.percent3 : 0)/ 100).toFixed(2); 
                  currentProject.time3  + " hrs"}}
                </div>
              </td>
              <td ng-if="!!currentProject.skill4">
                <input type="range" max="100" min="0" ng-model="currentProject.percent4">
                <div>
                  {{ currentProject.time4 = ((timeToAdd - currentProject.time3 - currentProject.time2 - currentProject.time1) * (currentProject.percent4 ? currentProject.percent4 : 0)/ 100).toFixed(2); 
                  currentProject.time4  + " hrs"}}
                </div>
              </td>
              <td ng-if="!!currentProject.skill5">
                <input type="range" max="100" min="0" ng-model="currentProject.percent5">
                <div>
                  {{ currentProject.time5 = ((timeToAdd - currentProject.time4 - currentProject.time3- currentProject.time2 - currentProject.time1) * (currentProject.percent5 ? currentProject.percent5 : 0)/ 100).toFixed(2); 
                  currentProject.time5  + " hrs"}}
                </div>
              </td>                                                
            </tr>
          </tbody>
        </table>
      </div>
      <!-- time Assign submmit -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="timeAssign()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div id="submitCheck" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Submit Check</h4>
      </div>
      <div class="modal-body">
          Are you sure "{{ currentProject.project_name }}" is complete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="completeProject(currentProject)">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
