<!-- main signup form -->
<div class="container signform">
  <div class="row">
    <div class="col-md-offset-5 col-md-5">
      <div class="form-login">
        <h3>Welcome to ProjecTyr!</h3>

        <form name="signForm">
          <!-- username input-->
          <input name="username" type="text"  class="form-control input-sm chat-input" placeholder="username" ng-model="user.username" required/>
          <p ng-show="signForm.username.$error.required && signForm.username.$dirty" class="help-block">Username is required.</p>
          </br>

          <!-- password input -->
          <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
          <p ng-show="signForm.password.$error.required && signForm.password.$dirty" class="help-block">Password is required.</p>
          </br>

          <!-- submmit button and signin option -->
          <div class="wrapper">
            <span class="group-btn">     
              <button class="btn btn-primary btn-block" ng-click="signup()" ng-disabled="signForm.$invalid">Signup <i class="fa fa-sign-in"></i></button>
            </span>
            <br>
            <a href="#/signin">Don't have an account? <strong>Signin</strong>...</a> 
            <br>
            <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
